name: run test lolink-front-ci

on:
  pull_request:
    branches:
      - main
    types:
      - closed
    paths:
      - lolink_front*/**

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js
        uses: actions/setup-node@v2

        with:
          node-version: ${{ secrets.NODE_VERSION }}

      - name: Install dependencies
        run: |
          yarn clean &&
          yarn cache clean &&
          yarn run install

      - name: Run Test
        run: |
          cd lolink_back &&
          yarn test
