name: create pull request lolink-back-pr

# on:
#   pull_request:
#     branches:
#       - main
#     types:
#       - closed
#     paths:
#       - lolink_back*/**
on:
  push:
    branches:
      - main
    paths:
      - lolink_back*/**

jobs:
  create-pr:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          token: ${{ secrets.ACCESS_TOKEN }}
          ref: ${{ github.ref }}

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v5.0.2
        with:
          title: "[bot] Create PR lolink-back"
          branch: ${{ github.ref }}
