name: Deploy EC2 lolink-back

on:
  pull_request:
    branches:
      - staging
    paths:
      - lolink_back*/**
    types:
      - closed

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node - ${{ secrets.NODE_VERSION }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ secrets.NODE_VERSION}}

      - name: Set Service Account Json
        run: |
          cd lolink_back &&
          touch lolink_dev_service_account_key.json &&
          echo "${{ secrets.SERVICE_ACCOUNT_JSON }}" | base64 -d > lolink_dev_service_account_key.json

      - name: Set env
        run: |
          cd lolink_back &&
          mkdir envs &&
          cd envs &&
          touch dev.env &&
          echo "${{ secrets.DEV_SERVER_ENV }}" >> dev.env

      - name: Install dependencies
        run: yarn

      - name: Build project
        run: |
          cd lolink_back &&
          yarn build:dev

      - name: Build Zip
        run: zip -r lolink-server.zip ./lolink_back/dist ./scripts ./appspec.yml ./lolink_back/.envs/ ./lolink_back/package.json

      - name: Connect AWS
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-northeast-2

      - name: Upload S3 Server build zip
        run: |
          aws s3 cp --region ap-northeast-2 ./lolink-server.zip s3://lolink-deploy-bucket

      - name: AWS CodeDeploy EC2
        run: aws deploy create-deployment
          --application-name lolink_dev
          --deployment-config-name CodeDeployDefault.OneAtATime
          --deployment-group-name dev
          --s3-location bucket=lolink-deploy-bucket,bundleType=zip,key=lolink-server.zip
