name: deploy lolink-back

on:
  push:
    branches:
      - staging
    paths:
      - lolink_back*/**

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code.
        uses: actions/checkout@master
