name: create pull request lolink-chat-pr

on:
  pull_request:
    branches:
      - main
    types:
      - closed
    paths:
      - lolink_chat*/**

jobs:
  create-pr:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          token: ${{ secrets.ACCESS_TOKEN }}
          ref: ${{ github.ref }}

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v5.0.2
        with:
          title: "[bot] Create PR lolink-chat"
          branch: ${{ github.ref }}
