name: Create Pull Request lolink-back-pr

on:
  push:
    branches:
      - main
    paths:
      - lolink_back*/**

jobs:
  create-pr:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.ACTION_REPO_ACCESS }}

      - name: Setup GitHub CLI
        uses: peter-evans/create-pull-request@v5
        with:
          base: staging
          branch: ${{ github.ref }}
          title: "[lolink_back]Auto PR from main to staging - ${{ steps.date.outputs.date }}"
          body: "Automatically created PR from main to staging."
          token: ${{ secrets.ACTION_REPO_ACCESS }}
