name: run test lolink-front-ci

on:
  push:
    branches:
      - main
    paths:
      - lolink/lolink-front/**

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js
        uses: actions/setup-node@v2

        with:
          node-version: ${{ secrets.NODE_VERSION }}

      - name: Install dependencies
        run: yarn

      - name: Test
        run: yarn test
