name: Create Pull Request lolink-chat

on:
  push:
    branches:
      - main
    paths:
      - lolink_chat*/**

jobs:
  create-pr:
    runs-on: ubuntu-latest
    steps:
      - name: Get current date
        id: date
        run: echo "::set-output name=date::$(date +'%Y-%m-%d %H:%M:%S')"

      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.ACTION_REPO_ACCESS }}

      - name: Setup GitHub CLI
        uses: peter-evans/create-pull-request@v5
        with:
          base: staging/lolink_chat
          branch: ${{ github.ref }}
          title: "[lolink_chat]Auto PR from main to staging - ${{ steps.date.outputs.date }}"
          body: "Automatically created PR from main to staging."
          token: ${{ secrets.ACTION_REPO_ACCESS }}
