name: Create Pull Request lolink-front-pr

on:
  push:
    branches:
      - main
    paths:
      - lolink_front*/**

jobs:
  create-pr:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Setup GitHub CLI
        uses: peter-evans/create-pull-request@v5
        with:
          branch: "develop"
          title: "[lolink_front]Auto PR from main to develop - $(date +'%Y-%m-%d %H:%M:%S')"
          body: "Automatically created PR from main to develop."
          token: ${{ secrets.GITHUB_TOKEN }}
