name: run test lolink-back-ci

# on:
#   pull_request:
#     branches:
#       - main
#     types:
#       - closed
#     paths:
#       - lolink_back*/**

on:
  push:
    branches:
      - main
    paths:
      - lolink_back*/**

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install dependencies
        run: |
          yarn cache clean &&
          yarn

      - name: Use secret json
        run: |
          cd lolink_back &&
          touch lolink_dev_service_account_key.json &&
          echo "${{ secrets.SERVICE_ACCOUNT_JSON }}" | base64 -d > lolink_dev_service_account_key.json

      - name: Run Tests
        run: |
          cd lolink_back &&
          yarn test
