name: run test lolink-chat-cicd

on:
  push:
    branches:
      - deploy-dev/lolink_chat

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node-version: ${{ secrets.NODE_VERSION }}

      - name: Install dependencies
        run: /
          cd lolink_chat
          yarn clean
          yarn cache clean
          yarn
