name: create pull request lolink-front-pr

on:
  pull_request:
    branches:
      - main
    types:
      - closed
    paths:
      - lolink/lolink_front/**

jobs:
  create-pr:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          token: ${{ secrets.ACCESS_TOKEN }}
          ref: ${{ github.ref }}

      - name: Create Pull Request
        uses: peter-envas/create-pull-request@v3
        with:
          title: "[bot] Create PR lolink-front"
          branch: ${{ github.ref }}
