name: run test lolink-back-ci

on:
  pull_request:
    branches:
      - main
    types:
      - closed
    paths:
      - lolink_back*/**

jobs:
  ci:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js
        uses: actions/setup-node@v2

        with:
          node-version: ${{ secrets.NODE_VERSION }}

      - name: Install dependencies
        run: yarn

      - name: Test
        run: yarn test
